.page-container{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;
}

.header-container{
    margin-top: 20px;
    background-color: #f2f2f2;
    padding: 60px 0;
}

.footer-container{
    margin-top: 20px;
    background-color: #ef9c9c;
    padding: 60px 0;
}

.body1{
    background-color: #d41313;
    padding: 60px 0;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body2{
    background-color: #065738;
    padding: 60px 0;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body3{
    background-color: #6919d2;
    padding: 60px 0;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}